:root {
    --primary-color: #003B5C;
    --secondary-color: #005B8C;
    --accent1-color: #915F00;
    --accent2-color: #F0F8FF;
    --heading-font: "Montserrat", "Trebuchet MS", sans-serif;
    --body-font: "Open Sans", "Helvetica Neue", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #1a1a1a;
    background-color: var(--accent2-color);
    font-family: var(--body-font);
    line-height: 1.6;
}

header,
main,
footer {
    max-width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    color: var(--primary-color);
    font-family: var(--heading-font);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
    color: var(--secondary-color);
}

.hero {
    position: relative;
    width: 100%;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

.hero h1 {
    position: absolute;
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    top: 40px;
    width: 100%;
    padding: 20px;
    text-align: center;
    opacity: 0.9;
}

.hero article {
    position: absolute;
    top: 60%;
    left: 5%;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    opacity: 0.95;
    width: 90%;
    border-radius: 1ch;
}

.hero article img {
    float: right;
    width: 15%;
    margin: 10px;
    border: 1px solid var(--accent2-color);
    border-radius: 1ch;
}

.hero article p {
    margin: 3px;
    font-size: 0.9rem;
    color: var(--accent2-color);
    font-weight: 600;
}