nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
    background-color: #eee;
    width: 20rem;
    margin: 1rem;
    border: solid 1px rgb(0 0 0 / 0.2);
    padding: 1rem;
    text-align: center;
    color: #333;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: #333 dotted;
    text-align: center;

}